apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "user" : "$$$$$$$$$$",
      "password" : "NNNNNNNNNNN",
      "vsphere_server" : "HHHHHHHHHH",
      "allow_unverified_ssl" : "JJJJJJJJJJJJJJJJJJJj"
    }
