apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "user" : "dorateja.konduru@accenture.com",
      "password" : "xxxxxxxxxxxxxx",
      "vsphere_server" : "https://frcva4501.emea.bpo.accenture.com/",
      "allow_unverified_ssl" : true
    }
