apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "user" : "xxxxxxxxxxxxx",
      "password" : "xxxxxxxxxxxxxx",
      "vsphere_server" : "xxxxxxxxxxxx",
      "allow_unverified_ssl" : true
    }
